<link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/css/materialdesignicons.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />

<section class="candidates-profile-bg">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="candidates-profile-details text-center" style="font-size: 25px;">
                        <img [src]='clientImage' class="img-fluid d-block mx-auto rounded-circle img-thumbnail mb-4" >
                        
                        <h4 class="text-white candidates-profile-name mb-2">{{ client.name }}</h4>
                        <p class="text-white-50 mb-2"><i class="mdi mdi-bank mr-2"></i>Brewery_type - {{client.brewery_type}} </p>
                        <ul class="candidates-profile-icons list-inline mb-3">
                            <li class="list-inline-item text-white-50 pr-2 f-16">{{client.street}}</li>
                            <li class="list-inline-item text-white-50 pr-2 f-16">{{client.city}} , {{client.state}} </li>
                            <li class="list-inline-item text-white-50 pr-2 f-16">{{client.country}} - {{client.postal_code}} </li>
                            <li class="list-inline-item text-white-50 pr-2 f-16"><i class="fa fa-phone" aria-hidden="true"></i>  {{client.phone}} <br/> <a class="text-white-50 pr-2 f-16" [href] = 'client.website_url' target="_blank"> <i class="fa fa-globe"></i>  {{client.website_url}} </a> </li>
                            <br/>
                            <li class="list-inline-item text-white-50 pr-2 f-16"> Coordinates: {{client.latitude}}, {{client.longitude}} </li>
                            <br/>
                            <li class="list-inline-item text-white-50 pr-2 f-16">       <button style="background: none; border: none;   color: rgba(255, 255, 255, 0.7);" onclick=" setTimeout(()=>{
                                document.getElementById('#iframe').src = 'https://maps.google.com/maps?q=' + value + ',' + name + '&hl=es;z=14&amp;output=embed';
                                console.log('Something' + value  + name);
                                })" value="{{ client.latitude }}" name =" {{ client.longitude }}" > --> Click Here for View on Map <-- </button> </li>
                        </ul>

                        <ul class="candidates-profile-social-icons list-inline mb-0">
                            <li class="list-inline-item"><a (click) = "updateClient()"><i class="fa fa-edit"></i></a></li>
                            <li class="list-inline-item"><a (click) = "deleteClient()"><i class="fa fa-trash"></i></a></li>
                            <li class="list-inline-item"><a routerLink = ''><i class="fa fa-arrow-left"></i></a></li>
                            
                        </ul>
   
                    </div>
                </div>
            </div>
        </div>
        
</section>
<iframe id="#iframe" src = "" height="600px" width="100%"></iframe>








