
<nav class="navbar navbar-expand-sm   navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.openbrewerydb.org/#about" target="_blank">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='./client/add'>Add New Client</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://www.openbrewerydb.org" target="_blank">Contact Us</a>
      </li>

      <!-- <li class="nav-item dropdown dmenu">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Dropdown link
              </a>
              <div class="dropdown-menu sm-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
                <a class="dropdown-item" href="#">Link 4</a>
                <a class="dropdown-item" href="#">Link 5</a>
                <a class="dropdown-item" href="#">Link 6</a>
              </div>
           </li> -->
    </ul>
    <div class="social-part">
      <a href="https://discord.com/invite/WMPB3VZ" target="_blank"><i class="fa fa-discord"> Social </i></a>
    </div>
  </div>
</nav>
      
<router-outlet></router-outlet>



